:root{
    --colorTextMenu: #4a4a4a;
    --colorMain: #3CDBC0;
    --colorMainText: #FFFFFF;
    --mainFont: 'Rubik', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: var(--mainFont);
}
.body {
    min-height: 100vh;
    width: 100%;
}
/*-----------Header----------*/
.header-container {
    height: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    background-color: var(--colorMainText);
}
.logo-container {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    width: 50%;
}
.logo-image {
    width: min(50vw, 155px);
}
.header-nav {
    width: 50%;
}
.nav-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 13px;
}
.menu-item {
    font-size: 1.6rem;
    list-style: none;
    text-transform: uppercase;
}
.menu-anchor {
    text-decoration: none;
    color: var(--colorTextMenu);
}
/*--------MAIN---------*/
.main-container {
    height: 100vh;
    background-color: var(--colorMain);
    position: relative;
}
.main-section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-section__h1 {
    color: var(--colorMainText);
    font-size: 3rem;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    text-transform: capitalize;
}
/*------mediaqueries------*/

@media all and (min-width: 768px) {
    .header-container{
        flex-direction: row;
        justify-content: space-between;
    }
    .logo-container{
        justify-content: flex-start;
        padding: 10px 0 10px 30px;
    }
    .nav-menu {
        justify-content: flex-end;
        padding: 20px 30px 20px 0;
    }
    .main-section__h1{
        font-size: 4rem;
    }
}